html {
	background-color: black;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

header {
	color: blueviolet;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px 15px;
}

header h1 {
	margin: 0;
	font-size: 34px;
}

header h1 span {
	color: aqua;
}
header nav {
	flex-grow: 1;
}
header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

header nav ul li {
	margin-left: 30px;
	font-size: 24px;
}

header nav ul li a {
	text-decoration: none;
	color: blueviolet;
}

main {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repear(3, 1fr);
	gap: 10px;
	margin-top: 75px; /* Add margin to create space below the fixed header, else content will spill into fixed header */
}
.main-top-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.main-headshot {
	display: flex;
	justify-content: flex-end;
}
.main-headshot-text {
	flex-grow: 1;
	color: blueviolet;
	text-align: center;
	margin-right: 250px;
	max-width: 250px;
	white-space: pre;
}
.main-headshot-text span {
	display: block;
	text-indent: 200px;
	padding-left: 20px;
}
.main-headshot img {
	height: 250px;
	margin-right: 100px;
	border-radius: 50%;
}
.front-end-container {
	display: grid;
	grid-template-columns: 80px 80px 80px;
	gap: 10px;
}
.front-end-container img,
.back-end-container img {
	width: 75px;
	height: 75px;
}
.middle-container img {
	width: 500px;
	height: 400px;
}
.front-end-container .title,
.back-end-container .title {
	font-weight: bold;
	margin-bottom: 5px;
}
